* {
	box-sizing: border-box;
}

body {
	font-size: 100%;
	font: 1em Futura, Helvetica, sans-serif;
	color: #000;
}

a {
	color: #369;
	text-decoration: none;
}

a:hover {
	color: #900;
}

a:visited {
	color: #369;
}

.container {
	position: relative;
	margin: auto;
	width: 580px;
	height: 840px;
}

.bubble {
	position: absolute;
	width: 420px;
	height: 300px;
	background: url("../images/bubble.svg") no-repeat center;
	background-size: 100% 100%;
	z-index: 1;
}

.bubble-text {
	position: relative;
	top: 46%;
	margin: auto;
	transform: translate(0%, -50%);
	width: 82%;
	font-size: 1.7em;
	text-align: center;
	line-height: 1.15;
	overflow-wrap: break-word;
	word-wrap: break-word;
	hyphens: auto;
}

.howard {
	position: absolute;
	bottom: 0px;
	right: 0px;
	width: 420px;
	cursor: pointer;
}

.soundicon {
	position: absolute;
	top: 460px;
	left: 80px;
	width: 80px;
	height: 180px;
	background-size: 100% 100%;
	z-index: 2;
}

.speakicon {
	background: url("../images/speak.svg") no-repeat center;
}

.dontspeakicon {
	background: url("../images/dontspeak.svg") no-repeat center;
}
