* {
	box-sizing: border-box;
}

body {
	font-size: 100%;
	font: 1em Futura, Helvetica, sans-serif;
}

a {
	color: #369;
	text-decoration: none;
}

a:hover {
	color: #900;
}

a:visited {
	color: #369;
}

.day {
	background: #fff;
	color: #000;
}

.night {
	background: #000;
	color: #fff;
}

.container {
	position: relative;
	margin: auto;
	width: 600px;
	height: 850px;
}

.bubble {
	position: absolute;
	top: 10px;
	width: 400px;
	height: 300px;
	background: url("../images/bubble.svg") no-repeat center;
	background-size: 100% 100%;
	z-index: 1;
}

.bubble-text {
	position: absolute;
	top: 48%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 80%;
	color: #000;
	font: 1.7em Futura, Helvetica, sans-serif;
	text-align: center;
	line-height: 1.2;
	hyphens: auto;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
}

.howard {
	position: absolute;
	bottom: 10px;
	right: 0px;
	width: 400px;
}
